@model IEnumerable<int>

@{
	ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete these students?</h3>
<div>
	<h4>Student</h4>
	<hr />
	<form asp-action="Delete">
		<dl class="row">
			<dt class="col-sm-2">
				Number of students:
			</dt>
			<dd class="col-sm-4">
				@Model.Count()
			</dd>
		</dl>
		@for (var i = 0; i < Model.Count(); i++)
		{
			<input type="hidden" value="@Model.ElementAt(i)" name="[@i]" />
		}
		<div class="form-group">
			<input type="submit" value="Delete" class="btn btn-danger" />
		</div>
	</form>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>
